body {
    background-color: #22272e;
}

body h2 {
    color: #aab6c3;
    font-weight: lighter;
    font-family: "Times New Roman", serif;
    font-weight: lighter;
}

body #content {
    margin: 3% 7%;
    width: 70%;
    padding: 0% 0% 10% 0%;
}

#left_part {
    width: 50%;
}

body #right\=part {
    vertical-align: top;

}

body img{
    border: 2px solid #2d333b;
    border-radius: 5%;
    margin: 5%;
    width: 70%;
}

body form {
    width: 70%;
    border: 2px solid #2d333b;
    border-radius: 5%;
}
#form_table{
    border-spacing: 10px;
}

body label{
    color: #aab6c3;
    border-radius: 5px;
    margin: 0 0 0 5%;
}


select, input[type="text"] {
    width: 60%;
    margin: 0 0 0 5%;
}
input, select{
    background-color: #aab6c3;
    color: #22272e;
}

body #result_table {
    color: #aab6c3;
    border: 2px solid #2d333b;
    border-radius: 5%;
    border-spacing: 15px;
    text-align: center;
}

#result_table th{
    width: 5%;
}

#form_table {
    width: 100%;
}